/* Reset body padding and margins */
body {
	margin: 0;
	padding: 0;
}

/* Make Header Sticky */
#header_container {
	z-index: 100000;
	background: #eee;
	border: 1px solid #666;
	/*height: 60px;*/
	left: 0;
	position: fixed;
	width: 100%;
	top: 0;
}

#header {
	margin: 0 12px;
		/* The 12px margin comes from the total left/right margins of the record>notice>task hierarchy */
	text-align: center;
	font: 10pt sans-serif;
}

.hidden {
	display: none;
}

#header-table {
	table-layout: fixed;
	width: 100%;
}

#header-table th {
	width: 7.14285714286%;
	border-left: 1px solid white;
}

#header-table tr th:first-child {
	border: none;
}

#status_text_cell {
	width: 100%;
	text-align: right;
}

/* Change Record */

.CR {
	background-color: #99DDFF;
	border-radius: 10px;
	margin: 16px 4px;
}

/* This class is added as a slight visual fix when expanded */
.CR-expanded {
	padding-bottom: 2px;
}

.CR-title {
	margin: 0;
	padding: 12px;
	border-radius: 8px;
	font-family: sans-serif;
	font-size: 12pt;
}

.CR-title:hover {
	background-color: #AAFFFF;
	cursor: pointer;
}

.CR-notice-count {
	font-family: sans-serif;
	font-size: 10pt;
	margin: 6px;
	top: 0;
	right: 0;
	position: absolute;
}

.highlighted {
	background-color: #F0F;
}

/*.CR-collapsed {
	border-radius: 8px 8px 0 0;
}*/

/* Change Notice */

.CN {
	background-color: #FFDD99;
	border-radius: 10px;
	margin: 4px;
}

/* This class is added as a slight visual fix when expanded */
.CN-expanded {
	padding-bottom: 2px;
}

.CN-title {
	margin: 0;
	padding: 12px;
	border-radius: 8px;
	font-family: sans-serif;
	font-size: 10pt;
}

.CN-title:hover {
	background-color: #FFFFAA;
	cursor: pointer;
}

.CN-task-count {
	font-family: sans-serif;
	font-size: 10pt;
	margin: 6px;
	top: 0;
	right: 0;
	position: absolute;
}

.CN-data {
	margin-left: 10px;
	font-size: 11pt;
}


/* Change Task */

.CT {
	background-color: #99FF99;
	margin: 4px;
	border-radius: 8px;
}

/* This class is added as a slight visual fix when expanded */
.CT-expanded {
	padding-bottom: 2px;
}

.CT-title {
	margin: 0;
	padding: 12px;
	border-radius: 8px;
	font-family: sans-serif;
	font-size: 11pt;
}

.CT-title:hover {
	background-color: #BBFFBB;
	cursor: pointer;
}

/* Change Task - Part Table */

.CT table {
	/*table-layout: fixed;*/
	/*width: 100%;*/
	/*border-right: 1px solid white;*/
}

.CT td {
	width: 7.14285714286%;
	/*
	border-left: 1px solid white;
	*/
}

.CT tr td:first-child {
	/* Hide the left border on the first column */
	/*border: none;*/
}

.CT-part-count {
	font-family: sans-serif;
	font-size: 10pt;
	margin: 6px;
	top: 0;
	right: 0;
	position: absolute;
}

.CT-data {
	margin-left: 10px;
	font-size: 11pt;
}

.CT .lateCount {
	color: #ff1919;
}


/* Part */

.part {
	background-color: #BBFFFF;
	margin: 4px;
	font-family: sans-serif;
	font-size: 8pt;
}

.part-id {
	font-weight: bold;
}

.part-header {
	padding: 4px;
}

.part-header:hover {
	background-color: #DDFFFF;
	cursor: pointer;
}

/* Block */

.block {
	/*
	background-color: #BBFFFF;
	margin: 12px;
	*/
	font-family: sans-serif;
	font-size: 10pt;
}

.block-header-table {
	margin: 0;
	padding: 0;
	table-layout: fixed;
	width: 100%;

}

.block-content {
	background-color: #BBFFFF;
	table-layout: fixed;
	width: 100%;
}

.block-content tbody {
	text-align: left;
}

.block-content tr {
	margin-top: 8px;
}

.block-content th {
	padding: 6px;
	font: 14px sans-serif;
	font-weight: bold;
}

.block-content td {
	padding: 6px;
	border-left: 1px dashed #888;
	border-top: 1px dashed #888;
}

.block-header {
	padding: 4px;
	background-color: #BBFFFF;
}

.block-user, .block-task, .block-parts, .block-days {
	font-weight: bold;
}

.block-header:hover {
	background-color: #DDFFFF;
	cursor: pointer;
}

.block-late {
	/*background-color: #ff1919;*/
	border: 4px solid #ff1919;

}

.block-almostLate {
	/*background-color: #ffff00;*/
	border: 4px solid #ffff00;

}

.part-row-late {
	/*border: 4px solid #ff1919;*/
	background-color: #ff1919;
}

.part-row-almostLate {
	/*border: 4px solid #ffff00;*/
	background-color: #ffff00;
}